/target
/src-tauri/target
/gen
/src-tauri/gen
/dist
/release-artifacts
/.tauri/*.key
/.tauri/*.key.pub
/node_modules
.devicehub-mask/
*.tsbuildinfo
/vite.config.js
/vite.config.d.ts
/.devicehub
.DS_Store
*.log
/src-tauri/resources/netmuxd
/src-tauri/resources/netmuxd.exe
/src-tauri/resources/ffmpeg
/src-tauri/resources/ffmpeg.exe
/src-tauri/resources/ffmpeg-LICENSE.txt
/src-tauri/resources/ffmpeg-target.json
