/target
/src-tauri/target
/gen
/src-tauri/gen
/dist
/.tauri/*.key
/.tauri/*.key.pub
/node_modules
*.tsbuildinfo
/vite.config.js
/vite.config.d.ts
/.devicehub
.DS_Store
*.log
/src-tauri/resources/netmuxd
/src-tauri/resources/netmuxd.exe
